/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    @media (max-width: 991px) {
        padding: 1.5rem 1rem;
    }

    @media (max-width: 576px) {
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.custom-toast  {
    white-space: pre-line;
}


.truncate-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  display: block; /* Helps ensure text-overflow works correctly */
}

@for $i from 1 through 5 {
  .truncate-cell-#{$i * 100} {
    max-width: #{$i * 100}px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}
/* 결과: .truncate-cell-100, -200, -300, -400, -500 자동 생성 */

.field-highlight {
  color: #1976d2;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.field-highlight:hover {
  color: #0d47a1;
}